@model FoireMuses.Client.SourcePage
@using FoireMuses.WebInterface.HtmlHelpers
@{
    ViewBag.Title = "PageDetails";
}

<div id="pageDetails">

@Html.NullableIntField("Numéro de page", Model.PageNumber,true)
@Html.NullableIntField("Numéro affiché", Model.DisplayPageNumber)
@Html.NullableIntField("Format de numérotation", Model.PageNumberFormat)
@Html.StringField("Contenu", Model.TextContent)
</div>


<div id="menuModif">
<hr />
<ul>
<li><a href="PageEdit?sourcePageId=@Model.Id"><span class="editButton"></span>Modifier</a></li>
<li><a href="PageFascimile?sourcePageId=@Model.Id"><span class="uploadButton"></span>Fascimile</a></li>
<li><a href="Details?sourceId=@Model.SourceId"><span class="backButton"></span>Retour source</a></li>
</ul>
</div>
