@model FoireMuses.Client.SourcePage
@using FoireMuses.WebInterface.Helpers
@{
    ViewBag.Title = "PageDetails";
}

@section commandsSection{
<ul>
	<li><a href="PageEdit?sourceId=@Model.SourceId&sourcePageId=@Model.Id">Edit</a></li>
	<li><a href="PageCreate?sourceId=@Model.SourceId&sourcePageId=@Model.Id"><span class="addButton"></span>Add Page</a></li>
	<li><a href="Fascimiles?sourceId=@Model.SourceId&sourcePageId=@Model.Id"><span class="uploadButton"></span>Fascimilé</a></li>
</ul>
}

<div id="pageDetails">
@Helpers.AddField("Numéro de page", Model.PageNumber, true)
@Helpers.AddField("Numéro affiché", Model.DisplayPageNumber)
@Helpers.AddField("Format de numérotation", Model.PageNumberFormat)
@Helpers.AddField("Contenu", Model.TextContent)
</div>

