@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Foire Muses visit <a href="/faq" title="Foire Muses FAQ">http://foiremuses.org/faq</a>.
</p>
@if (Session["username"] != null)
{
    <p>
    Welcome @Session["username"]
    </p>
}

@section topSection{
<div class="top">
							<div class="top_img">
								<div class="scrollable">
									<div class="items">
										<div class="item">
											<div class="header1">
											</div>
										</div>
										<!-- item -->
										<div class="item">
											<div class="header2">
											</div>
										</div>
										<!-- item -->
										<div class="item">
											<div class="header3">
											</div>
										</div>
										<!-- item -->
										<div class="item">
											<div class="header4">
											</div>
										</div>
										<!-- item -->
									</div>
									<!-- items -->
								</div>
								<!-- scrollable -->
								<div class="navi">
								</div>
								<!-- create automatically the point for the navigation depending on the numbers of items -->
								<div style="clear: both">
								</div>
							</div>
</div>
}