@{
    ViewBag.HeadTitle = "CreateXml";
}
<div id="encadreInfo">
<p>
	<img class="helpIcon" src="images/helpIcon.png">Insertion d'un air sur base d'un fichier music xml</p>
	<hr>
	<p>
	Cliquez sur le bouton afin de choisir un fichier music xml présent sur votre ordinateur. Lorsque vous avez choisis, cliquez sur le bouton créer.
</p>
	</div>
	<div>
<form method="post" action="CreateXml" enctype="multipart/form-data">
<input type="file" id="file" name="file"/><br/>
<input class="right" type="submit" value="Creer"/>
</form>
</div>
