<div id="encadreInfo">
<p>
	<img class="helpIcon" src="../../Content/images/helpIcon.png" alt="help icon" />Comment insérer un nouvel air?</p>
	<hr/>
	<p>
	Il existe deux façons pour vous d'insérer un nouvel air</p>
	<ol>
		<li><a href="createxml">Vous disposez des partitions au format music xml</a></li>
		<li><a href="createscratch">Vous ne disposez pas des partitions, vous encodez les informations dont vous avez connaissances</a></li>
	</ol>
	<p>
	Quel que soit votre choix, vous pourrez par la suite ajouter/modifier la partition, les informations et les sources.
</p>
</div>