@model FoireMuses.WebInterface.Models.ListViewModel<FoireMuses.Client.ScoreSearchItem>
@using FoireMuses.WebInterface.Helpers
@{
	ViewBag.HeadTitle = "All Scores";
}
@section commandsSection{
	<ul>
		<li><a href="Create">New</a></li>
	</ul>
}
<h1>Airs</h1>
@Helpers.DisplayScoreSearchResult(Model.SearchResult, x => Url.Action("List", new { page = x }))