@{
    ViewBag.HeadTitle = "Publish";
}
@using FoireMuses.WebInterface.Helpers

<div id="encadreInfo">
<p>
	<img class="helpIcon" src="../../Content/images/helpIcon.png" alt="help icon" />Insertion d'un air sur base d'un fichier music xml</p>
	<hr />
	<p>
	Cliquez sur le bouton afin de choisir un fichier music xml présent sur votre ordinateur. Lorsque vous avez choisis, cliquez sur le bouton créer.
</p>
	</div>
	<div id="publishForm">
<form method="post" action="" enctype="multipart/form-data">
<fieldset>
<legend>Upload Music XML</legend>
<label for="file">Fichier</label><input type="file" id="file" name="file"/><br/>
@if (ViewBag.ScoreId != null)
{
    <div class="block">@Helpers.CheckboxInputField("Garder les valeurs actuelles", "overwrite", false)</div>
    <div class="block">@Helpers.HiddenInputField("scoreId", (string)ViewBag.ScoreId)</div>
}
else
{
    <input type="hidden" name="overwrite" value="true" />
}
<input class="submitButton" type="submit" value="Creer"/>
</fieldset>
</form>
</div>
