@{
    ViewBag.Title = "Search";
}

<form action="Searching" method="get">
Titre<input type="text" name="title" /><br />
Compositeur<input type="text" name="composer" /><br />
Editeur<input type="text" name="editor" /><br />
Versets<input type="text" name="verses" /><br />
<input type="submit" value="Rechercher" />
</form>

