@{
    ViewBag.Title = "Index";
}

<div id="adminSpace">
<h3>Menu d'administration:</h3>
<ul>
<li><a href="./../Admin/CreateUser"><span class="userButton"></span>Créer un utilisateur</a></li>
</ul>
</div>

