@{
    ViewBag.Title = "Login";
}
<form action="" method="post">
<label for="username">Username</label><input id="username" type="text" name="username"/><br />
<label for="password">Password</label><input id="password" type="password" name="password"/><br />
<label for="rememberMe">Remember me?</label><input id="rememberMe" type="checkbox" name="rememberMe" value="true"/><input type="hidden" name="rememberMe"  value="false" /><br />
<input type="submit" value="log" />
</form>

