@{
    ViewBag.Title = "Login";
}
@if (ViewBag.Error != null)
{
<div class="errorMessage">
    <p>@ViewBag.Error</p>
</div>
}

<div id="connectionForm">
<fieldset>
<legend>Connexion</legend>
<form action="" method="post">
<div class="block"><label for="username">Username</label><input id="username" type="text" name="username"/></div>
<div class="block"><label for="password">Password</label><input id="password" type="password" name="password"/></div>
<div class="block"><label for="rememberMe">Se souvenir de moi? </label><input id="rememberMe" type="checkbox" name="rememberMe" value="true"/><input type="hidden" name="rememberMe"  value="false" /></div>
<input class="submitButton" type="submit" value="Connexion" />
</form>
</fieldset>
</div>