@model FoireMuses.WebInterface.Models.JPlay

<div class="playSummary">
    <h3>@Html.ActionLink(Model.Title, "Details", "Play", new { id = Model.Id }, new { })</h3>
    musician(s): @Model.MusicianName, author(s): @Model.Author
</div>