@model FoireMuses.Client.Score

<div class="scoreSummary">
    @if(Model.Title != null){
    <h3>@Html.ActionLink(Model.Title, "Details", new { scoreId = Model.Id })</h3>
        }else{
        <h3>...unknown title...</h3>
        }
    composer: @Model.Composer, editor: @Model.Composer
</div>