@{
    ViewBag.Title = "Rechercher - Musique";
}

@section javascriptSection{
	<!-- Javascipt Section -->
	<script src="../../Content/js/meledscripts.js" charset="iso-8859-1" type="text/javascript"></script>
	<script src="../../Content/soundmanager/soundmanager2.js" type="text/javascript"></script>
	<script src="../../Content/js/onload.js" type="text/javascript"></script>
	<script src="../../Content/js/jquery-1.5.2.js" type="text/javascript"></script>
}
<ul id="tabnav">
    <li><a href="Score">Airs</a></li>
    <li class="active"><a href="Music">Musique</a></li>
    <li><a href="Source">Sources</a></li>
    <li><a href="Play">Pièces</a></li>
</ul>

<div id="encadreInfo">
    <p>
        <img class="helpIcon" src="../../Content/images/helpIcon.png" alt="help" />Recherche
        d'un air sur base de sa partition</p>
    <hr />
    <p>
        Entrer les notes recherchées au piano ou dans la champ lilypond en respectant la syntaxe simplifiée. Il est possible de jouer un
        son lorsque l'on clique sur les touches du piano en activant le son, et de jouer l'entièreté des notes en cliquant sur le bouton play.
    </p>
</div>
<div class="errorMessage">@ViewBag.Error</div>
<form method="get" action="SearchMusic">
<div id="piano_javascript">

<div id="firstLine">
<div id="piano">
    <map name="keyboard" id="keyboard">
        <area shape="poly" href="#" onclick="addNote('c\'','8')" coords="4,89,31,89,31,75,26,75,24,69,14,69,12,75,4,75"
            alt="">
        <area shape="rect" href="#" onclick="addNote('c\'','4')" coords="4,89,30,104" alt="">
        <area shape="rect" href="#" onclick="addNote('c\'','4.')" coords="4,105,30,120" alt="">
        <area shape="rect" href="#" onclick="addNote('c\'','2')" coords="4,121,30,142" alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'','8')" coords="26,0,43,18" alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'','4')" coords="26,19,43,34" alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'','4.')" coords="26,35,43,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'','2')" coords="26,51,43,71" alt="">
        <area shape="poly" href="#" onclick="addNote('d\'','8')" coords="36,88,63,88,63,74,58,74,56,68,46,68,44,74,36,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('d\'','4')" coords="36,88,62,103" alt="">
        <area shape="rect" href="#" onclick="addNote('d\'','4.')" coords="36,104,62,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('d\'','2')" coords="36,120,62,141" alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'','8')" coords="58,0,75,18" alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'','4')" coords="58,19,75,34" alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'','4.')" coords="58,35,75,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'','2')" coords="58,51,75,71" alt="">
        <area shape="poly" href="#" onclick="addNote('e\'','8')" coords="68,88,95,88,95,74,90,74,88,68,78,68,76,74,68,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('e\'','4')" coords="68,88,94,103" alt="">
        <area shape="rect" href="#" onclick="addNote('e\'','4.')" coords="68,104,94,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('e\'','2')" coords="68,120,94,141" alt="">
        <area shape="poly" href="#" onclick="addNote('f\'','8')" coords="100,89,127,89,127,75,122,75,120,69,110,69,108,75,100,75"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'','4')" coords="100,89,126,104"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'','4.')" coords="100,105,126,120"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'','2')" coords="100,121,126,142"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'','8')" coords="122,0,139,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'','4')" coords="122,19,139,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'','4.')" coords="122,35,139,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'','2')" coords="122,51,139,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('g\'','8')" coords="132,88,159,88,159,74,154,74,152,68,142,68,140,74,132,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'','4')" coords="132,88,158,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'','4.')" coords="132,104,158,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'','2')" coords="132,120,158,141"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'','8')" coords="154,0,171,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'','4')" coords="154,19,171,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'','4.')" coords="154,35,171,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'','2')" coords="154,51,171,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('a\'','8')" coords="164,88,191,88,191,74,186,74,184,68,174,68,172,74,164,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'','4')" coords="164,88,190,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'','4.')" coords="164,104,190,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'','2')" coords="164,120,190,141"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'','8')" coords="186,0,203,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'','4')" coords="186,19,203,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'','4.')" coords="186,35,203,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'','2')" coords="186,51,203,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('b\'','8')" coords="196,88,223,88,223,74,218,74,216,68,206,68,204,74,196,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'','4')" coords="196,88,222,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'','4.')" coords="196,104,222,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'','2')" coords="196,120,222,141"
            alt="">
        <area shape="poly" href="#" onclick="addNote('c\'\'','8')" coords="228,89,255,89,255,75,250,75,248,69,238,69,236,75,228,75"
            alt="">
        <area shape="rect" href="#" onclick="addNote('c\'\'','4')" coords="228,89,254,104"
            alt="">
        <area shape="rect" href="#" onclick="addNote('c\'\'','4.')" coords="228,105,254,120"
            alt="">
        <area shape="rect" href="#" onclick="addNote('c\'\'','2')" coords="228,121,254,142"
            alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'\'','8')" coords="250,0,267,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'\'','4')" coords="250,19,267,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'\'','4.')" coords="250,35,267,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('cis\'\'','2')" coords="250,51,267,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('d\'\'','8')" coords="260,88,287,88,287,74,282,74,280,68,270,68,268,74,260,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('d\'\'','4')" coords="260,88,286,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('d\'\'','4.')" coords="260,104,286,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('d\'\'','2')" coords="260,120,286,141"
            alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'\'','8')" coords="282,0,299,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'\'','4')" coords="282,19,299,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'\'','4.')" coords="282,35,299,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('dis\'\'','2')" coords="282,51,299,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('e\'\'','8')" coords="292,88,319,88,319,74,314,74,312,68,302,68,300,74,292,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('e\'\'','4')" coords="292,88,318,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('e\'\'','4.')" coords="292,104,318,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('e\'\'','2')" coords="292,120,318,141"
            alt="">
        <area shape="poly" href="#" onclick="addNote('f\'\'','8')" coords="324,89,351,89,351,75,346,75,344,69,334,69,332,75,324,75"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'\'','4')" coords="324,89,350,104"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'\'','4.')" coords="324,105,350,120"
            alt="">
        <area shape="rect" href="#" onclick="addNote('f\'\'','2')" coords="324,121,350,142"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'\'','8')" coords="346,0,363,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'\'','4')" coords="346,19,363,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'\'','4.')" coords="346,35,363,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('fis\'\'','2')" coords="346,51,363,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('g\'\'','8')" coords="356,88,383,88,383,74,378,74,376,68,366,68,364,74,356,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'\'','4')" coords="356,88,382,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'\'','4.')" coords="356,104,382,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('g\'\'','2')" coords="356,120,382,141"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'\'','8')" coords="378,0,395,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'\'','4')" coords="378,19,395,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'\'','4.')" coords="378,35,395,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('gis\'\'','2')" coords="378,51,395,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('a\'\'','8')" coords="388,88,415,88,415,74,410,74,408,68,398,68,396,74,388,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'\'','4')" coords="388,88,414,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'\'','4.')" coords="388,104,414,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('a\'\'','2')" coords="388,120,414,141"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'\'','8')" coords="410,0,427,18"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'\'','4')" coords="410,19,427,34"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'\'','4.')" coords="410,35,427,50"
            alt="">
        <area shape="rect" href="#" onclick="addNote('ais\'\'','2')" coords="410,51,427,71"
            alt="">
        <area shape="poly" href="#" onclick="addNote('b\'\'','8')" coords="420,88,447,88,447,74,442,74,440,68,430,68,428,74,420,74"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'\'','4')" coords="420,88,446,103"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'\'','4.')" coords="420,104,446,119"
            alt="">
        <area shape="rect" href="#" onclick="addNote('b\'\'','2')" coords="420,120,446,141"
            alt="">
        <!-- Silences -->
        <area shape="rect" href="#" onclick="addNote('r','4')" coords="485,2,499,26" alt="">
        <area shape="rect" href="#" onclick="addNote('r','8')" coords="485,27,499,47" alt="">
        <area shape="rect" href="#" onclick="addNote('r','16')" coords="485,48,499,68" alt="">
    </map>
    <img src="../../Content/images/piano_js/keyb.gif" usemap="#keyboard" border="0" width="500"
        height="146" alt="">
        </div>
        <div id="options">
        <div id="sound">
        <a href="#" onclick="playAll"><img src="../../Content/images/play.png" /></a>
        <a href="#" onclick="toggleSound(this)"><img src="../../Content/images/soundoff.png" /></a>
    </div>
        <div id="changeNote">
Change the last note :
    <ul>
        <li>
            <img src="../../Content/images/piano_js/L_9.gif" onclick="setLength('1')" alt="whole note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_8.gif" onclick="setLength('2.')" alt="dotted half note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_4.gif" onclick="setLength('2')" alt="half note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_3.gif" onclick="setLength('4.')" alt="dotted quarter note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_2.gif" onclick="setLength('4')" alt="quarter note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_7.gif" onclick="setLength('8.')" alt="dotted eighth note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_1.gif" onclick="setLength('8')" alt="eighth note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_6.gif" onclick="setLength('16')" alt="16th note"></li>
        <li>
            <img src="../../Content/images/piano_js/L_5.gif" onclick="setLength('32')" alt="32nd note"></li>
    </ul>
    </div>
    <div id="others">
    <input type="button" value="Flats" onclick="toggleFlats()" />
    <input type="button" value="Delete last note" onclick="deleteNote()" />
    </div>
    </div>
    </div>
    <div id="displayNotes">
    <span id="current">
        <img src="../../Content/images/piano_js/clef.gif" onclick="setCursor(0);">
        <img src="../../Content/images/piano_js/cursor.gif">
    </span>
    <br>
    Lilypond:
    <input type="text" id="music" name="music" value="" size="64" onkeyup="parse(event)" />
    </div>
</div>
<input type="submit" value="Rechercher" />
</form>
<script type="text/javascript">
<!--
    playmusic_init();
    -->
</script>
