@{
    ViewBag.Title = "SearchPlays";
}

<ul id="tabnav">
    <li><a href="Score">Airs</a></li>
    <li><a href="Music">Musique</a></li>
    <li><a href="Source">Sources</a></li>
    <li class="active"><a href="Play">Pièces</a></li>
</ul>
