@{
    ViewBag.Title = "SearchMusic";
}

<ul id="tabnav">
    <li ><a href="?type=score">Airs</a></li>
    <li class="active"><a href="">Musique</a></li>
    <li><a href="?type=source">Sources</a></li>
    <li><a href="?type=play">Pièces</a></li>
</ul>

