@{
    ViewBag.Title = "SearchSources";
}

<ul id="tabnav">
    <li><a href="?type=score">Airs</a></li>
    <li><a href="?type=music">Musique</a></li>
    <li class="active"><a href="">Sources</a></li>
    <li><a href="?type=play">Pièces</a></li>
</ul>
