@{
    ViewBag.Title = "SearchPlays";
}

<ul id="tabnav">
    <li><a href="?type=score">Airs</a></li>
    <li><a href="?type=music">Musique</a></li>
    <li><a href="?type=source">Sources</a></li>
    <li class="active"><a href="">Pièces</a></li>
</ul>
